.alert-error {
    font-size: clamp(12px, 1vw, 14px);
    color: #d64550;
    background: #ea9e8d;
    padding: .5rem 1rem;
    text-align: center;
    margin-top: 0;
    visibility: hidden;
}

.alertActive {
    visibility: visible;
}