.btn {
    display: block;
    padding: .8em 4em;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 1.03rem;
    
    cursor: pointer;
}


.btn-2 {
    background: $super-darken-main;
    color: $main;
    border: 2px solid $main;

    transition: $transition;

    &:hover {
        background: $main;
        color: white;
    }
}

.btn-language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    left: 1.5rem;
    top: 1rem;
    z-index: 100;

    .circle-container {
        width: 2.5rem;
        height: 1.2rem;
        padding: 2px;
        border-radius: 20px;
        background: $darken-main;
        cursor: pointer;

        .circle {
            width: 1rem;
            height: 1rem;
            background: $main;
            border-radius: 50%;
            transition: $transition;
            margin-left: 0;
        }

        .circle-move {
            margin-left: 1.2rem;
        }
    }
}