//Colors
$main: #6C63FF; 
$lighten-main: #88BBBC;
$darken-main: #232643;
$super-darken-main: #141627;
$black: #000000;
$gray: #bebebe;
$line-color: #BABABA;

//Transition
$transition: all .3s ease;

//Font
$family-font: 'Spartan', sans-serif;
$font-bold: 800;
$font-regular: 400;

//shadows
$shadow-1 : rgba(0, 0, 0, 0.35) 0px 5px 15px;;
