.f-200 {
    font-size: clamp(13px, 1vw, 14px);
}
.f-300 {
    font-size: clamp(15px, 2.8vw, 16px);
}
.f-400 {
    font-size: clamp(16px, 3.2vw, 18px);
}
.f-500 {
    font-size: clamp(18px, 3.6vw, 26px);
}

.f-800 {
    font-size: clamp(35px, 7vw, 80px);
}


.f-regular {
    font-weight: $font-regular;
}

.f-bold {
    font-weight: $font-bold;
}

.letter-s {
    letter-spacing: 5px;
}

.c-white {
    color: white;
}

.c-gray {
    color: $gray;
}
